altgraph==0.17.5
docx2txt==0.9
iniconfig==2.3.0
macholib==1.16.4
packaging==25.0
pluggy==1.6.0
pygame==2.6.1
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pytest==9.0.2
setuptools==75.3.2
